body{
    font-size: 16px;
}
.bg-black{
    background-color: black !important;
}
.enable-scrollbar {
  
    height: 70vh !important;       
    overflow-y: auto !important;    /* Trigger vertical scroll    */
    overflow-x: hidden;
   
  }
td {
  
    height: 7vh !important;       
   
  }

  .overlap{
      margin-top: -250px !important;
  }

  @media screen and (max-width:400px) {
      
      .overlap{
          margin-top: -100px !important;
      }
  }
  @media screen and (max-width:768px) {
      
      .overlap{
          margin-top: -180px !important;
      }
  }

  @media screen and (max-width:1399px) {
      
      .overlap{
          margin-top: -220px !important;
      }
  }

  .antialiased{
      min-height: 100vh !important;
  }
  .wrapper{
      min-height: 75vh !important;
  }
  .font-todo{
      font-size: 30px;
  }
  .action-button:hover ,.options:hover{
      color: hsl(233, 11%, 84%) !important;
  }
  option:hover{
      background-color: hsl(233, 11%, 84%) !important;
  }
  option a:hover{
    color: #206bc4 !important;
  }
  

 .todo-item:hover{
  
    color: #206bc4 !important;
  }
  .todo-status:hover, .todo-status p:hover{
    background-color:  #206bc4 !important;
    color: white !important;
  }
  .todo-status p:hover{
    
    color: white !important;
  }

  .span-option{
      margin-right: 10px !important;
  }
  .span-option a{
      font-size: 14px !important;
  }

  input[type="checkbox"]:hover {
    background-color:  #206bc4 !important;
    border: 1px solid linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) !important;

  }


  .linear-gradient{

    background-color:  linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) !important;
    border: 1px solid linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) !important;
  }

  .dark-gray{
      color: Blue hsl(234, 11%, 52%) !important;
  }
  .ver-dark-grayish-blue{
      color: Blue hsl(237, 14%, 26%) !important;
  }